/*NAVBAR 1 NO TOCAR*/

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    justify-content: flex-end;
    align-items: flex-end;
} 

.navbar{
    background-color:   rgba(255, 255, 255, 0.242);
    box-shadow: 0 2px 4px hsla(131, 97%, 11%, 0.58);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    color: #062100;
}

.navbar-brand h4{
    color: rgb(12, 136, 27);
}

.container-fluid{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

.header{
    width: 100%;
    height: 100px;
    padding: 0%;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buscar {
    width: 250px; 
    height: 40px;
    border-radius: 10px;
    border: 1px solid hsl(141, 77%, 10%);
    font-size: 16px;
    padding-left: 10px;
}

header button{
    width: 100%;
    height: 40px;
}

#user-link {
    width: 60px;
    float: right;
    margin-left: auto;
}

#user {
    color: hsl(131, 80%, 10%);
}

#carrito {
    color: hsl(131, 80%, 10%);
}

#carrito-link {
    width: 50px;
    float: left;
}

/*NAVBAR 2*/

nav{
    max-width: 1500px;
    margin: auto;
    background-color: rgba(15, 69, 33, 0.244);
    font-size: 20px;
    margin-top: 5px;  
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li{
    position: relative;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 10px;
    color:  rgb(12, 136, 27);
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: hwb(133 1% 85%);
}

.menu-vertical li:hover{
    background-color:  hwb(133 1% 85%);
}

/*MAIN */

.title{
    margin-left: 70px;
    font-size: 45px;
    font-weight: bold;
    color: #062100;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.grid{
    margin: 3px;
    padding: 5px;
    border-radius: 15px;
    background-color: hwb(133 1% 85% / 0.265);
    width: 550px;
    height: 300px;
}

.grid .items{
    position: relative;
    width: 100%;
    height: 100%;
}

.grid .card-img{
    width: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.grid .info{
    top: -230px;
    left: 190px;
    padding: 20px;
    position: relative;
    width: 380px;
    height: 300px;
}

.grid .info .linea{
    width: 97%;
}

.grid .info .linea3{
    position: relative;
    left: -200px;
    width: 150%;
    padding-left: 100px !important;
}

.card-text {
    color:  hsl(164, 94%, 21%);
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}

.grid button{
    position: relative;
    left: -115px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    color: hwb(163 1% 79%);
    border: 1px solid hsl(141, 77%, 10%);
    font-size: 15px;
}

.grid button:hover{
    background-color: hwb(132 1% 85% / 0.58);
    transition: 1s;
}

.fin-compra{
    padding: 20px;
    margin-left: 35px;
}

.total{
    font-size: 20px;
    font-weight: bold;
    color:  hsl(164, 94%, 21%);
}

.precio-total{
    background-color: hwb(133 1% 85% / 0.265);
    width: 130px;
    text-align: center;
    border-radius: 20px;
}

.pagar button{
    position: relative;
    left: 37%;
    width: 250px;
    height: 40px;
    border:  2px double #062100 ;
    color: hwb(163 1% 79%);
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}

.pagar button:hover{
    background-color: hwb(132 1% 85% / 0.58);
    transition: 1s;
}

/*FOOTER NO TOCAR */

footer{
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
    width: 100%;
    background-color: hwb(122 4% 64% / 0.265);   
    min-height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-icon{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    flex-wrap: wrap;
}

.icon-element{
    list-style: none;
}

.icon{
    color: hsl(163, 48%, 11%);
    font-size: 32px;
    display: inline-block;
    margin: 1px 25px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none
}

.menu-icon{
    color: hsl(163, 48%, 11%);
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    position: center;
    margin: 0px 80px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover{
    opacity: 2;
}

.copyrght{
    color: hsl(163, 48%, 11%);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}