/*NAVBAR 1 NO TOCAR*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px;
}

.navbar{
    background-color:   hwb(0 100% 0% / 0.703);
    box-shadow: 0 2px 4px hsla(131, 97%, 11%, 0.58);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    color: #062100;
}

.navbar-brand h4{
    color: rgb(12, 136, 27);
}

.container-fluid{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

.header{
    width: 100%;
    height: 100px;
    padding: 0%;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buscar {
    width: 250px; 
    height: 40px;
    border-radius: 10px;
    border: 1px solid hsl(141, 77%, 10%);
    font-size: 16px;
    padding-left: 10px;
}
  
#user-link {
    width: 60px;
    float: right;
    margin-left: auto;
}

#user {
    color: hsl(131, 80%, 10%);
}

#carrito {
    color: hsl(131, 80%, 10%);
}
  
#carrito-link {
    width: 50px;
    float: left;
}

/*NAVBAR 2 NO TOCAR*/

nav{
    max-width: 1500px;
    margin: auto;
    background-color: rgba(15, 69, 33, 0.244);
    font-size: 20px;
    margin-top: 105px;  
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li{
    position: relative;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 10px;
    color:  rgb(12, 136, 27);
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: hwb(133 1% 85%);
}

.menu-vertical li:hover{
    background-color:  hwb(133 1% 85%);
}

/*IMAGEN ATL CON TEXTO*/

.img-ATL{
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    margin-top: -16px;
}

.imagen-con-texto {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.texto-img-1 {
    position: absolute;
    top: 90%;
    left: 25%;
    width: 40%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center left;
}

.texto-img-1 h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color:  #001d05;
}

.texto-img-1 p {
    font-size: 24px;
    font-weight: normal;
    color:#001d05;
}

/* CARDS ATL */

.col-md-4{
    width: 75%;
    height: 100%;
    flex-direction: row;
}

.card-body {
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.card-text {
    color:  hsl(164, 94%, 21%);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.card {
    width: 300px;
   height: 300px;
    margin: 25px; 
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    display: flex;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
}

.col{
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.btn{
    width: 100%;
    color: black;
    background-color: hsl(163, 48%, 11%);
}

.card-footer .btn-primary {
    background-color:hsl(131, 80%, 10%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/*IMAGEN SMT CON TEXTO*/

.img-SMT{
    width: 100%;
    max-height: 35%;
    object-fit: cover;
    margin-top: 5px;
}

.imagen-con-texto {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.texto-img-2{
    position: absolute;
    top: 860%;
    left: 30%;
    width: 45%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center left;
}

.texto-img-2 h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #001d05;
}

.texto-img-2 p {
    font-size: 24px;
    font-weight: normal;
    color:#001d05;
}

/*FOOTER NO TOCAR */

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
    width: 100%;
    background-color: hwb(122 4% 64% / 0.265);   
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-icon{
   /*  display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    margin: 5px;
    flex-wrap: wrap;
}

.icon-element{
    list-style: none;
}

.icon{
    color: hsl(163, 48%, 11%);
    font-size: 32px;
    display: inline-block;
    margin: 1px 50px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 5px 50px;
    flex-wrap: wrap;
    margin-left: 110px;
}

.menu-elem{
    list-style: none
}

.menu-icon{
    color: hsl(163, 48%, 11%);
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    position: center;
    margin: 0px 80px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover{
    opacity: 2;
}

.copyrght{
    color: hsl(163, 48%, 11%);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    margin-left: 30px;
    text-align: center;
    font-weight: bold;
    
}
