.navbar{
    background-color:   white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    
}
.navbar-brand{
    font-weight: 500;
    color: #009970;
    font-size: 20px;	
    transition: 0.3s color;
}
.login-button{
    background-color: #009970;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover{
    background-color: #007f6e;
}
.nav-item{
    margin-left: 5px;
    padding-left: 5px;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative; 
    transition: 0.3s color;
}

.nav-link:hover, .nav-link:active{
    color: #000;
}

@media (min-width: 992px) {
.nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
    
.nav-link:hover::before , .nav-link.active::before{
    width: 100%;
    visibility: visible;
    }
} 

.hero-section h1{
    font-size: 1.5em;
}
.hero-section h3{
    font-size: 1.2em;
}

.hero-section{
    position: relative;
    z-index: 1;
    color: rgb(20, 250, 97);
    text-align: center;
    width: 100%;
    height: 100%;
}
.hero-section::before{
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    position: relative;
    z-index: 1;
    color: rgb(20, 250, 97);
    text-align: center;
}

#hero{
    color: rgb(31, 209, 31);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0 10px;
}

.hero-section .container h1{
    color: rgb(1, 245, 1);
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 2px;

}
.hero-section-container h3{
    color: rgb(20, 250, 97);
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
}

.carrusel-img{
    height: 150vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
    margin: 10px;
    box-shadow:10px rgba(0, 0, 0, 0.5);
}

#carouselExampleFade {
    padding-left: 10px;
    margin: 10px;
}

/*.col-md-4{
    width: 75%;
    height: 100%;
    flex-direction: row;
}*/

.card-text {
    color:  hsl(164, 94%, 21%);
    font-size: 15px;
    text-align: center;
}

.card {
    width: 300px;
   height: 300px;
    margin: 25px; 
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    display: flex;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
}

.col{
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.card-footer{
    height: 20%;
    width: 100%;
    justify-content: center;
}

.btn{
    width: 100%;
    color: black;
    background-color: #009970;
}

