/*NAVBAR*/

.navbar-brand :me-auto{
    color: hsl(164, 94%, 21%);
}

.navbar{
    background-color:   hwb(0 100% 0% / 0.703);
    box-shadow: 0 2px 4px hsla(131, 97%, 11%, 0.58);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    color: #062100;
}

.navbar-brand{
    font-weight: 500;
    color: hsl(164, 83%, 14%);
    font-size: 20px;	
    transition: 0.3s color;
}

.login-button{
    background-color: #009970;
    color: #062100;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover{
    background-color: #009970;
}

.nav-item{
    margin-left: 5px;
    padding-left: 5px;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative; 
    transition: 0.3s color;
}

.nav-link:hover, .nav-link:active{
    color: hwb(0 0% 100%);
}

@media (min-width: 992px) {
.nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
    
.nav-link:hover::before , .nav-link.active::before{
    width: 100%;
    visibility: visible;
    }
}

/*IMAGEN CON TEXTO*/

.img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen-con-texto {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.texto-sobre-imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #033318;
    font-size: 24px;
    text-align: center;
}

.texto-sobre-imagen h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.texto-sobre-imagen p {
    font-size: 24px;
    font-weight: normal;
}

/*CARDS*/

.col-md-4{
    width: 75%;
    height: 100%;
    flex-direction: row;
}

.card-text {
    color:  hsl(164, 94%, 21%);
    font-size: 15px;
    text-align: center;
}

.card {
    width: 300px;
   height: 300px;
    margin: 25px; 
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    display: flex;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
}

.col{
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.card-footer{
    height: 20%;
    width: 100%;
    justify-content: center;
}

.btn{
    width: 100%;
    color: black;
    background-color: #009970;
}

